.footer{
    min-height: 10rem;
    background-color: var(--bg-dark-color);
	width: 100%;
	padding: 1.5rem;
    text-align: center;
	color: var(--lynx-white-color);
	font-size: 1.5rem;
}

.footer-social-icons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title{
    margin-top: 1.4rem;
}
.footer-links i {
    padding: 1rem;       
    font-size: 1rem;
    color: var(--lynx-white-color);
}

.footer .fas{
    color: rgb(190, 54, 54);
}

