.cart-container{
    padding-top: 4rem;
    height: 100vh;
}

.cart{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.bg-color{
  background-color: var(--white-color);
}

.quantity{
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.plus-minus{
    padding: 0.25rem 0.5rem;
    cursor: pointer;
}

.qty-input{
    width: 2.4rem;
    border: transparent;
    outline: none;
    text-align: center;
    padding: 0.25rem 0.5rem;
    border-top: 1px solid var(--lynx-grey-color);
    border-bottom: 1px solid var(--lynx-grey-color);
}

.cart-btn{
    width: 95%;
}

.billing-details{
    width: 18%;
    padding: 2rem;
    background-color: var(--white-color);
    position: fixed;
    right: 10%;
    top:10%;
}

.product-card{
    height: 500px;
}

.empty-card-img{
    height: 300px;
}

.product-card-btn{
    display: flex;

}

.card-btn{
    padding: 10px;
    margin: 0 1rem;
}

@media only screen and (max-width: 980px){
    .billing-details{
        position: relative;
        width: 100%;
        padding: 2rem;
        left: 2%;
    }
    .cart{
        gap: 2rem;
    }
}
