.pop-up-container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity: .7;
    z-index: 2;
    position: fixed;
    top: 0%;
    left: 0%;
}

.show-pop-up{
    width: 30rem;
    background-color: #ffffff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
    border-radius: 12px;
    text-align: center;
}